ansible==11.1.0
ansible-core==2.18.1
attrs==23.2.1.dev0
Authlib==1.4.0
bcrypt==4.2.1
btrfsutil==6.12
build==1.2.2
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cryptography==44.0.0
CT3==3.3.3
dnspython==2.6.1
filelock==3.16.1
html2text==2024.2.26
idna==3.10
installer==0.7.0
Jinja2==3.1.5
legacy-cgi==2.6.1
libtorrent==2.0.10
MarkupSafe==2.1.5
meson==1.6.1
numpy==2.2.1
packaging==24.2
paramiko==3.5.0
perf==0.1
pillow==11.0.0
platformdirs==4.3.6
pooch==1.8.2
psutil==6.1.1
pycairo==1.27.0
pycparser==2.22
pygdbmi==0.11.0.0
PyGObject==3.50.0
pymongo==4.10.1
PyNaCl==1.5.0
pyproject_hooks==1.2.0
PyQt6==6.8.0
PyQt6-WebEngine==6.8.0
PyQt6_sip==13.9.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
resolvelib==1.1.0
scipy==1.14.1
sentry-sdk==2.19.2
smbus==1.1
TBB==0.2
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==1.26.20
wheel==0.45.0
